<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="index::headcontent"></head>
<body>
<header th:include="index::header"></header>

<div class="bg-content">

    <!--============================== content =================================-->

    <div id="content">
        <div class="ic"></div>
        <div class="container">
            <div class="row">
                <article class="span12">
                    <h3>Services</h3>
                </article>
                <div class="clear"></div>
                <ul class="thumbnails thumbnails-1 list-services">
                    <li class="span4">
                        <div class="thumbnail thumbnail-1"><img src="img/page2-img1.jpg" alt=""/>
                            <section><a href="#" class="link-1">Abseiling through watterfalls </a>

                                <p>you can have the experience of abseiling in one of the most beautiful waterfalls in Kithulgala. Sandun Ella, nearly 100ft in height and with a stunning panoramic view of mountains. You can feel the intense and powerful feeling of the water combined with the fact that you are hanging on a rope and that there is nothing but water beneath and above.</p>
                            </section>
                        </div>
                    </li>
                    <li class="span4">
                        <div class="thumbnail thumbnail-1"><img src="img/page2-img2.jpg" alt=""/>
                            <section><a href="#" class="link-1">Canyoning into natural pools</a>

                                <p>Sri Lanka is blessed with stunning waterfalls all around the country. You can see few of them near Kithulgala. We offer you Cannoning in those locations with all the safety arrangements. This will give you a unique adventure experience and it will definitely improve your self-confidence and ability to take challenges.</p>
                            </section>
                        </div>
                    </li>
                    <li class="span4">
                        <div class="thumbnail thumbnail-1"><img src="img/page2-img3.jpg" alt=""/>
                            <section><a href="#" class="link-1">White water rafting</a>

                                <p>Sri Lanka is blessed with an awesome variety of rivers. The Kalani river is a well-known river which starts from Adam's peak. It passes Kithulgala with creating a white water paradise which is ideal for white water activities. We offer you white water rafting with our well-experienced guides and quality safety equipment.</p>
                            </section>
                        </div>
                    </li>
                    <li class="span4">
                        <div class="thumbnail thumbnail-1"><img src="img/page2-img4.jpg" alt=""/>
                            <section><a href="#" class="link-1">Rock sliding</a>

                                <p>Kelani river in Kithulgala creates some awesome locations which are ideal for rock sliding. In the water sliding through the smooth surfaced rocks, you too can slide with the water. Enjoy the holy nature and adventure through the rocks and water. We provide perfect safety arrangement and guarantee for a fun-filled sliding experience.</p>
                            </section>
                        </div>
                    </li>
                    <!--<li class="span4">
                        <div class="thumbnail thumbnail-1"><img src="img/page2-img5.jpg" alt="">
                            <section><a href="#" class="link-1">At vero eos et accusamus et iusto </a>

                                <p>Deleniti atque corrupti quos dolores molestias excepturi sint occaecati cupiditate
                                    nonprovident similique sunt in culpa.</p>
                            </section>
                        </div>
                    </li>
                    <li class="span4">
                        <div class="thumbnail thumbnail-1"><img src="img/page2-img6.jpg" alt="">
                            <section><a href="#" class="link-1">At vero eos et accusamus et iusto </a>

                                <p>Deleniti atque corrupti quos dolores molestias excepturi sint occaecati cupiditate
                                    nonprovident similique sunt in culpa.</p>
                            </section>
                        </div>
                    </li>-->
                </ul>
            </div>
        </div>
    </div>
</div>


<footer th:include="index::footer"></footer>
</body>
</html>